{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Welcome to Your Profile</h2>
<h2>Hello {{user}}</h2>

{% if messages %}
    {%for m in messages %}
        <small class="bg-success p-3 text-white">{{m}}</small>
    {% endfor %}
{% endif %}
<br/>
<p><a class="btn btn-info" href="{% url 'passchange'%}">Change Your Password</a>
<a class="btn btn-warning" href="{% url 'passchange2'%}">Change Your Password without Old Password</a></p>

<form method="POST" style="width:50%; margin:auto" novalidate>
        {% csrf_token %}
    <!-- Uncomment this line if you want to use crispy forms -->
    <!-- {{ form | crispy }} -->
        {%if form.non_field_errors%}
        {%for er in form.non_field_errors%}
          <p class="bg-danger text-white p-3">{{er}}</p>
        {%endfor%}
        {%endif%}
        {% for fm in form %}
          <div class="mb-3">
            {{ fm.label_tag }}
            {{ fm }}
            <div class="text-danger">
              {{ fm.errors | striptags }}
            </div>
          </div>
        {% endfor %}
        <br/> 
        <button class="btn btn-warning" type="submit">Change Data</button>
</form>

    
{% endblock %}