{% extends "home.html" %}
{% block content %}
      <h1>{{name}}</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
        {% for i in data%}
          <tr>
            <th scope="row">{{i.uderid}}</th>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.body}}</td>
          </tr>
        {%endfor%}
        </tbody>
      </table>
    <h1>I'm inside first App</h1>
    {% endblock %}
